<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <h1 class="heading">Доступ</h1>
            <ul id="access-items">
            </ul>
            <p id="message"></p>
            <a href="/customer_account" class="mt-20">Повернутися в аккаунт</a>
        </div>
    </div>

    <script>

    document.addEventListener("DOMContentLoaded", async function() {
        const x = document.getElementById("access-items");
        const customer_id = localStorage.getItem('customer_id');
        const response = await fetch('/get_orders?customer_id=' + customer_id);
        const data = await response.json();

        const promise = new Promise((resolve, reject) => {
            resolve(data)
        });

        data["data"].forEach(order => {
            var li = document.createElement("li");
            li.textContent = 'Замовлення ' + order.order_id;
            var btn_give = document.createElement("button");
            btn_give.classList = 'custom-btn give-access';
            btn_give.textContent = 'Надати доступ';
            btn_give.setAttribute('id', order.order_id);
            btn_give.setAttribute('action', 'give');
            btn_give.addEventListener('click', async function() {
                const order_id =  this.id;
                const customer_id = localStorage.getItem('customer_id');
                let response = await fetch('/give_access', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({customer_id, order_id})
                });
                response = await response.json();
                console.log(response);
                if (response.status === 'ok') {
                    alert('Доступ було забрано для замовлення ' + order_id);
                    window.location = 'customer_account';
                } else {
                    document.getElementById('container').classList = 'container';
                    document.getElementById('message').innerText = 'Error message: ' + response.reason;
                }
            }, false);
            var btn_deny = document.createElement("button");
            btn_deny.classList = 'custom-btn deny-access';
            btn_deny.setAttribute('id', order.order_id);
            btn_deny.setAttribute('action', 'deny');
            btn_deny.textContent = 'Забрати доступ';
            li.appendChild(btn_deny);
            li.appendChild(btn_give);
            x.appendChild(li);
        });
    });

    </script>
    </body>
</html>
