<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                    <h1 id="welcome-msg"></h1>
                    <p id="id-info">Ваш айді</p>

                    <nav class="mt-20">
                        <a href="one_day_discount" class="custom-link">Створити одноденну знижку</a>
                        <a href="multiple_days_discount" class="custom-link">Створити багатоденну знижку</a>
                        <a href="choose_styles" class="custom-link">Змінити стилі</a>
                        <a href="create_team" class="custom-link">Створити команду</a>

                        <a href="/" class="mt-20">Повернутися на головну сторінку</a>
                    </nav>
            </div>
        </div>

    <script>
        document.addEventListener("DOMContentLoaded", async function() {
            const authorID = localStorage.getItem('author_id');
            console.log('authorID', authorID);
            let response = await fetch(`/get_author_by_id?author_id=${authorID}`);
            response = await response.json();
            document.getElementById('welcome-msg').innerText = `Ласкаво просимо, ${response.data.name}`;
            document.getElementById('id-info').innerText = `Ваш айді - ${response.data.author_id}`;
        })
    </script>
    </body>
</html>
