<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/author_login.css">
</head>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form method="POST">
                <h1>Sign up</h1>
                <input type="name" placeholder="Name" name="name" />
                <input type="surname" placeholder="Surname" name="surname" />
                <input type="email" placeholder="Email" name="email" />
                <input type="password" placeholder="Password" name="password" />

                <nav>
                    <!-- <a href="author_account" class="ghost" id="signIn">Sign In</a> -->
                    <input type="submit" value="Submit" >
                </nav>
            </form>
        </div>
    </div>
<body>

</body>
</html>