<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form id="search-form">
                <h1 class="heading">Створити аккаунт автора</h1>
                <input type="text" class="param-input mt-20" placeholder="Ім'я" id="name"/>
                <input type="text" class="param-input" placeholder="Прізвище" id="surname"/>
                <input type="email" class="param-input" placeholder="Електронна пошта" id="email"/>
                <input type="password" class="param-input" placeholder="Пароль" id="password"/>

                <button type="button" class="custom-btn" id="signup">Зареєструватися</button>
                <p id="message"></p>
                <a href="/" class="mt-20">Повернутися на головну сторінку</a>

            </form>
        </div>
    </div>

    <script>

    document.getElementById('signup').addEventListener('click', async function(evt){
        evt.preventDefault();
        const name = document.getElementById('email').value;
        const surname = document.getElementById('password').value;
        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        let response = await fetch('/author_signup', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({name, surname, email, password})
        });
        response = await response.json();
        localStorage.setItem('author_id', response.author_id);
        document.getElementById('container').classList = 'container disabled';
        console.log(response);
        if (response.status === 'ok') {
            window.location = 'author_account';
        } else {
            document.getElementById('container').classList = 'container';
            document.getElementById('message').innerText = 'Error message: ' + response.reason;
        }
    });

    </script>
    </body>
</html>
