<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../style/author_login.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="./app">
                <h1>Sign in</h1>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <nav>
                    <a href="author_account.html" class="ghost" id="signIn">Sign In</a>
                </nav>
            </form>
        </div>
    </div>


    <body>
    <script src="author_login.js"></script>

    </body>
</html>