<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../style/author_login.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="./app">
                <h1>Create Order</h1>
                <input  placeholder="Message Style" />
                <input  placeholder="Team Name" />
                <input  placeholder="Social Media" />
                <nav>
                    <a href="finish_author.html" class="ghost" id="signIn">Create</a>
                </nav>
            </form>
        </div>
    </div>


    <body>
    <script src="author_login.js"></script>

    </body>
</html>