<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/author_login.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form method="POST">
                <h1>Create Order</h1>
                <input  placeholder="Message Style" name="style"/>
                <input  placeholder="Team Name" name="team"/>
                <input  placeholder="Social Media" name="media"/>
                <nav>
                    <input type="submit" value="Submit" >
                    <!--<a href="finish_author" class="ghost" id="signIn">Create</a>-->
                </nav>
            </form>
        </div>
    </div>


    <body>
    <!--<script type="text/javascript" src="{{ url_for('static', filename='js/author_login.js')}}"></script>-->

    </body>
</html>