<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/discount.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="">

                <h1>Welcome to Team Space</h1>
                <nav>
                    
                </nav>
                
            </form>
        </div>
    </div>


    <body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/style_submit.js') }}"></script>

    </body>
</html>