<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                    <h1 id="welcome-msg"></h1>
                    <p id="id-info">Ваш айді</p>

                    <nav class="mt-20">
                        <a href="create_order" class="custom-link">Створити замовлення</a>
                        <a href="choose_media" class="custom-link">Змінити підключені соцмережі</a>
                        <a href="access" class="custom-link">Надати доступ</a>

                        <a href="/" class="mt-20">Повернутися на головну сторінку</a>
                    </nav>
            </div>
        </div>

    <script>
        document.addEventListener("DOMContentLoaded", async function() {
            const customer_id = localStorage.getItem('customer_id');
            console.log('customer_id', customer_id);
            let response = await fetch(`/get_customer_by_id?customer_id=${customer_id}`);
            response = await response.json();
            document.getElementById('welcome-msg').innerText = `Ласкаво просимо, ${response.data.name}`;
            document.getElementById('id-info').innerText = `Ваш айді - ${response.data.author_id}`;
        })
    </script>
    </body>
</html>
