<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/author_account.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="">
                <h1>HI</h1>

                <h2>Choose Social Medias:</h2>

                <select class="style" name="style" id="style" multiple>
                    <option value="Facebook">Facebook</option>
                    <option value="Instagram">Instagram</option>
                    <option value="Twitter">Twitter</option>
                </select>
                
                <nav>
                    <!-- <input type="submit" value="Submit"> -->
                    <a href="user_space" class="ghost" id="Submit">Submit</a>
                </nav>
            </form>
        </div>
    </div>


    <body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/author_login.js')}}"></script>

    </body>
</html>