<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/discount.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="">

                <nav>
                    <a href="one_day_discount" class="one_day_discount" id="one_day_discount">One Day Discount</a>
                    <a href="multiple_days_discount" class="multiple_days_discount" id="multiple_days_discount">Multiple Days Discount</a>
                </nav>
                
            </form>
        </div>
    </div>


    <body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/style_submit.js') }}"></script>

    </body>
</html>