<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <div class="top-section">
                <h1>Hello</h1>

                <nav>
                    <a href="./public/author_login.html" class="author_login" id="author_login">Create an Account as Author</a>
                    <a href="./public/customer_login.html" class="customer_login" id="customer_login">Create an Account as Customer</a>
                </nav>
            </div>
            
        </div>
    </div>


    <body>
    

    </body>
</html>