<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                    <h1>Вітаємо у магазині повiдомлень!</h1>
                    <p>Це проект для курсу ОБД в УКУ<br>Оберіть потрібну опцію нижче:</p>

                    <nav class="mt-20">
                        <a href="queries" class="custom-link">Перевірити 12 запитів</a>
                        <a href="login_or_create_author" class="custom-link">Користуватися як автор</a>
                        <a href="login_or_create_customer" class="custom-link">Користуватися як клієнт</a>
                    </nav>
            </div>
        </div>
    </body>
</html>
