<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/main.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <div class="top-section">
                <h1>Hello</h1>

                <nav>
                    <a href="login_or_create_author" class="author_login" id="author_login">Login or create an Account as Author</a>
                    <a href="login_or_create_customer" class="customer_login" id="customer_login">Login or create an Account as Customer</a>
                </nav>
            </div>
            
        </div>
    </div>


    <body>
    

    </body>
</html>