<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/login_or_create_customer.css">
</head>

<div class="container" id="container">
        <div class="form-container sign-in-container">
            <div class="top-section">
                <h1>Tell us something about you</h1>

                <nav>
                    <a href="customer_login" class="customer_login" id="customer_login">Sign In as Customer</a>
                    <a href="customer_signup" class="customer_signup" id="customer_signup">Create an Account as Customer</a>
                </nav>
            </div>

        </div>
    </div>

<body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/author_login.js')}}"></script>
</body>
</html>