<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <h1>Оберіть необхідну дію</h1>
                <nav class="mt-20">
                    <a href="customer_login" class="custom-link">Увійти як клієнт</a>
                    <a href="customer_signup" class="custom-link">Створити аккаунт клієнта</a>
                </nav>
                <a href="/">Повернутися назад</a>
            </div>
        </div>
    </body>
</html>
