<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/login_or_create_author.css">
</head>

<div class="container" id="container">
        <div class="form-container sign-in-container">
            <div class="top-section">
                <h1>Tell us something about you</h1>

                <nav>
                    <a href="author_login" class="author_login" id="author_login">Sign In as Author</a>
                    <a href="author_signup" class="author_signup" id="author_signup">Create an Account as Author</a>
                </nav>
            </div>

        </div>
    </div>

<body>

</body>
</html>