<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/manage_task.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="">
                <h1>Hello</h1>

                <nav>
                    <a href="discount" class="discount" id="discount">Create Discount</a>
                    <a href="customer_login" class="team" id="team">Create Team</a>
                </nav>
                
            </form>
        </div>
    </div>


    <body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/create_author.js') }}"></script>

    </body>
</html>