<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../style/one_day_discount.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="">
                <input  placeholder="From" />
                <input  placeholder="To" />
                <nav>
                    <a href="finish_author.html" class="finish" id="finish">Done</a>
                </nav>
                
            </form>
        </div>
    </div>


    <body>
    <script src="author_login.js"></script>

    </body>
</html>