<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/one_day_discount.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form method="POST">
                <h1>Hello</h1>
                <input type="from" placeholder="From" name="from"/>
                <input type="discount_number" placeholder="Percent of discount" name="discount_number"/>
                <nav>
                    <!-- <a href="finish_author" class="finish" id="finish">Done</a> -->
                    <input type="submit" value="Submit" >
                </nav>
                
            </form>
        </div>
    </div>


    <body>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/create_author.js') }}"></script> -->

    </body>
</html>