<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/author_login.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="./app">
                <h1>Welcome to Past Orders</h1>
                <select id="mySelect" size="1">
                    
                  </select>
                <salutation-element username="Mayank"></salutation-element>

                <nav>
                    
                </nav>
            </form>
        </div>
    </div>


    <body>
    <script src="../static/js/past_orders.js"></script>
    </body>
</html>