<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form id="search-form">
                <h1 class="heading">Запит 5</h1>
                <h2 class="description">для покупця С знайти усi соцiальнi мережi, для яких вiн зробив хоча б N замовлень за
                    вказаний перiод (з дати F по дату T)</h2>
                <div>
                    <div class="width-50 center-div" id="parameters">
                        <select id="select">
                            <option selected="selected" disabled>Ім'я покупця</option>
                        </select>
                        <input type="number" class="param-input" placeholder="Кількість замовлень" name="numOrders" id="numOrders"/>
                        <input type="date" class="param-input" placeholder="Дата початку" name="dateStart" id="dateStart"/>
                        <input type="date" class="param-input" placeholder="Дата кінця" name="dateEnd" id="dateEnd"/>

                        <button type="button" id="search">Шукати</button>
                    </div>
                    <div class="width-50">
                        <ul id="search_results"></ul>
                    </div>
                    <div class="tooltip">Які параметри вказати?
                        <span class="tooltiptext">Alma Poppa<br>1<br>2000-01-01<br>2022-01-02</span>
                    </div>
                    <a href="/">Повернутися на головну сторінку</a>
                </div>
            </form>
        </div>
    </div>

    <script src="../static/js/search_5.js"></script>
    </body>
</html>
