<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form id="search-form">
                <h1 class="heading">Запит 6</h1>
                <h2 class="description">для автора А знайти усi облiковi записи у соцiальних мережах, до яких вiн мав доступ
                    протягом вказаного перiоду (з дати F по дату T);</h2>
                <div>
                    <div class="width-50 center-div" id="parameters">
                        <select id="select">
                            <option selected="selected" disabled>Ім'я автора</option>
                        </select>
                        <input type="date" class="param-input" placeholder="Дата початку" name="dateStart" id="dateStart"/>
                        <input type="date" class="param-input" placeholder="Дата кінця" name="dateEnd" id="dateEnd"/>

                        <button type="button" id="search">Шукати</button>
                    </div>
                    <div class="width-50">
                        <ul id="search_results"></ul>
                    </div>
                    <div class="tooltip">Які параметри вказати?
                        <span class="tooltiptext">Maria Garcia<br>1<br>2020-01-07<br>2020-01-08</span>
                    </div>
                    <a href="/">Повернутися на головну сторінку</a>
                </div>
            </form>
        </div>
    </div>

    <script src="../static/js/search_6.js"></script>
    </body>
</html>
