<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <h1>Оберіть запит</h1>

                <nav class="mt-20">
                    <a href="search_1" class="custom-link inline-link">Запит 1</a>
                    <a href="search_2" class="custom-link inline-link">Запит 2</a>
                    <a href="search_3" class="custom-link inline-link">Запит 3</a>
                    <a href="search_4" class="custom-link inline-link">Запит 4</a>
                    <a href="search_5" class="custom-link inline-link">Запит 5</a>
                    <a href="search_6" class="custom-link inline-link">Запит 6</a>
                    <a href="search_7" class="custom-link inline-link">Запит 7</a>
                    <a href="search_8" class="custom-link inline-link">Запит 8</a>
                    <a href="search_9" class="custom-link inline-link">Запит 9</a>
                    <a href="search_10" class="custom-link inline-link">Запит 10</a>
                    <a href="search_11" class="custom-link inline-link">Запит 11</a>
                    <a href="search_12" class="custom-link inline-link">Запит 12</a>
                </nav>
                <a href="/">Повернутися назад</a>
            </div>
        </div>
    </body>
</html>
