<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form id="search-form">
                <h1 class="heading">Запит 8</h1>
                <h2 class="description">знайти усi спiльнi подiї для автора A та покупця С за вказаний перiод (з дати F по дату
                    T);</h2>
                <div>
                    <div class="width-50 center-div" id="parameters">
                        <select id="selectAuthor" class="custom-select">
                            <option selected="selected" disabled>Ім'я автора</option>
                        </select>
                        <select id="selectCustomer" class="custom-select">
                            <option selected="selected" disabled>Ім'я покупця</option>
                        </select>
                        <input type="date" class="param-input" placeholder="Дата початку" name="dateStart" id="dateStart"/>
                        <input type="date" class="param-input" placeholder="Дата кінця" name="dateEnd" id="dateEnd"/>

                        <button type="button" id="search">Шукати</button>
                    </div>
                    <div class="width-50">
                        <ul id="search_results"></ul>
                    </div>
                    <div class="tooltip">Які параметри вказати?
                        <span class="tooltiptext">Yevheniy Stefansson<br>Edmundo Hernandez<br>2000-01-07<br>2040-01-07</span>
                    </div>
                    <a href="/">Повернутися на головну сторінку</a>
                </div>
            </form>
        </div>
    </div>

    <script src="../static/js/search_8.js"></script>
    </body>
</html>
