<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>

    <body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form id="search-form">
                <h1 class="heading">Запит 1</h1>
                <h2 class="description">Для автора A знайти усiх покупцiв, якi замовляли у нього повiдомлення хоча б N разiв за
вказаний перiод (з дати F по дату T)</h2>
                <div>
                    <div class="width-50 center-div" id="parameters">
                        <select id="select">
                            <option selected="selected" disabled>Ім'я автора</option>
                        </select>
                        <input type="text" class="param-input" placeholder="Кількість замовлених повідомлень" name="maxNum" id="maxNum"/>
                        <input type="date" class="param-input" placeholder="Дата початку" name="dateStart" id="dateStart"/>
                        <input type="date" class="param-input" placeholder="Дата кінця" name="dateEnd" id="dateEnd"/>

                        <button type="button" class="custom-btn" id="search">Шукати</button>
                    </div>
                    <div class="width-50">
                        <ul id="search_results"></ul>
                    </div>
                    <div class="tooltip">Які параметри вказати?
                      <span class="tooltiptext">Maria Rodriguez<br>1<br>2021-01-01<br>2021-06-01</span>
                    </div>
                    <a href="/">Повернутися на головну сторінку</a>
                </div>
            </form>
        </div>
    </div>

    <script src="../static/js/search_1.js"></script>
    </body>
</html>
