<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/manage_task.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="">
                
                <nav>
                    <a href="create_order" class="discount" id="discount">Create an Order</a>
                    <a href="past_orders" class="team" id="team">Past Orders</a>
                </nav>
                
            </form>
        </div>
    </div>


    <body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/author_login.js')}}"></script>

    </body>
</html>