<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../style/manage_task.css">
    </head>



    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="">
                
                <nav>
                    <a href="create_order.html" class="discount" id="discount">Create an Order</a>
                    <a href="past_orders.html" class="team" id="team">Past Orders</a>
                </nav>
                
            </form>
        </div>
    </div>


    <body>
    <script src="author_login.js"></script>

    </body>
</html>